body{
  background:#f8f1e7;
  font-style: italic;
  text-align:center;
  font-family: Arial;
}

/* VIEW CART + BACK BUTTON */
.cartBtn{
  position:absolute;
  top:15px;
  right:15px;

  padding:10px 15px;
  background:black;
  color:white;
  text-decoration:none;
  border-radius:8px;
  font-weight:bold;
}

/* 4 ITEMS PER ROW */
#menu{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:20px;
  padding:20px;
}

/* CARD */
.card{
  background:white;
  padding:10px;
  border-radius:10px;
}

img{
  width:100%;
  height:150px;
  object-fit:cover;
  border-radius:10px;
}

/* BUTTONS */
button{
  padding:5px 10px;
  margin:5px;
  background:black;
  color:white;
  border:none;
  cursor:pointer;
}

.count{
  font-size:18px;
  margin:0 10px;
}
