/* style.css */

body{
  margin: 0;
  font-family: Arial;
  background: #f8f1e7;
  color: black;
  font-style: italic;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1{
  margin: 0;
}

.cart-btn{
  background: black;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 20px;
  padding: 20px;
}

.card{
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.card img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

button{
  padding: 8px 12px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.count{
  margin: 0 15px;
  font-size: 20px;
}

.cart-container{
  width: 80%;
  margin: auto;
  margin-top: 40px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.order-btn{
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: green;
}

.payment{
  margin-top: 20px;
}
