body{
  background:#f8f1e7;
  font-style: italic;
  text-align:center;
  font-family: Arial;
}

.card{
  background:white;
  width:220px;
  margin:15px auto;
  padding:10px;
  border-radius:10px;
}

img{
  width:100%;
  border-radius:10px;
}

button{
  padding:5px 10px;
  margin:5px;
  background:black;
  color:white;
  border:none;
  cursor:pointer;
}

.cartBtn{
  display:inline-block;
  padding:10px;
  background:black;
  color:white;
  text-decoration:none;
  margin:10px;
}

.count{
  font-size:18px;
  margin:0 10px;
}
